@import "~bootstrap/scss/bootstrap";
@import "variables";

.header {
    background-color: $primary-color;
    padding: 10px;
}
.main{
    background-color: $secondary-color;
    height: calc(100vh - 62px);
}